// default layout
.l
	+clr
	.l-col1
		float: left
		width: 20%
	.l-col2
		float: right
		width: 70%

.l-center
	width: 1200px
	margin: 0 auto
	box-sizing: border-box

.l-center_header
	padding: 0 25px

.l-center_slider
	position: relative

.l-center_about
	padding: 0 35px

.l-center_footer
	padding: 0 40px
